*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;

}
.full-website{
    max-width: 1080px;
    margin: 0px auto;
}
/* ============= header section start ============ */
header{
    background-image: url(./images/banner/banner3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: end;
}
.header-content{
    color: #fff;
    width: 50%;
    text-align: right;
    font-family: 'Work Sans', sans-serif;
    padding-right: 50px;
}
.header-content h1{
    font-weight: 700;
    font-size: 55px;
}
.header-content p{
line-height: 22px;
}
.btn{
    background-color: #fff;
    color: #0063b3;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    margin-top: 10px;
}
/* ====================== header section end ============ */
/* ====================== failure  section start ============ */
.failure{
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    max-width: 100%;
}
.failure-content{width: 55%;margin-left: 30px;}
.failure-content h1{
    font-size: 40px;
}
.failure-content p{
    line-height: 23px;
}
.failure-list-items ul{
    list-style: none;
    margin-top: 15px;
}
.failure-list-items ul li{
    line-height: 23px;
}
.failure-list-items ul li .icon{
    color: #16d887;
}

/* ===================== failure section end ================ */
/* ================= my plan section start ============*/
.my-plan-container{
    padding: 100px 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.my-plan-container p{
    color: #737272;
    font-size: 1.1rem;
}
.my-plan-content{
    padding-right:3rem;
}
.my-plan-header .center{
    text-align: center;
    font-size: 45px;
}
/* ================= my plan section end ============== */
/* ============== watch section start =============== */
.watch{
    background-image: url(./images/watch.png);
    position: relative;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-bottom: 70px;
    z-index: 1;
    padding: 30px;
}
.watch::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background-image: linear-gradient(to right, rgba(2, 94, 169, 1),
    rgba(2, 94, 169, 0));
    border-radius: 10px;
    z-index: -1;
}
.watch h1{
    color: #fff;
    font-size: 35px;
}





/* ============ watch section end ============= */
/* ============  footer section start ============== */
.footer{
    background: #000;
    color: #fff;
    padding: 60px 80px;
    display: flex;
    justify-content: space-between;
}
.left{
    width: 25rem;
}
.left p{
    line-height: 25px;
    padding: 10px 0px;
}
.left img{
    width: 2.1rem;
    padding: 0px 2px;
}
.right a{
    background-color: #0063b3;;
    color: #fff;
    font-weight: 400;
}
.right input{
    border: none;
    background: #000;
    border: 1px solid #fff;
    padding: 10px  15px;
    border-radius: 5px;
    margin: 15px 0px;
}

